
.post-card {
    background-color: #000000;
    border-radius: 16px;
    padding: 16px;
    padding-left: auto;
    padding-right: auto;
    color:aliceblue;
    box-shadow: 0 2px 3px rgba(232, 226, 226, 0.0);
    width:auto;
    min-width: 60%;
    max-width: 500px;
    margin: 16px 16px 4px 16px;
}

.post-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.post-card p {
    font-size: 14px;
    color: #555555;
}

.post-card .author {
    font-size: 12px;
    color: #999999;
}